  
@{
  Layout = "_Layout";
}

<h1>Welcome to our art gallery.</h1>
<p>@Html.ActionLink("View Artists", "Index", "Artists")</p>
<p>@Html.ActionLink("View Movements", "Index", "Movements")</p>
<p>@Html.ActionLink("Add a piece", "Index", "Pieces")</p>