@{
  Layout = "_Layout";
}

@model TheArt.Models.Artist

<h1>New Artist</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ArtistName)
  @Html.TextBoxFor(model => model.ArtistName)
  <input type="submit" value="add" />
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("All artists", "Index")</p>
